html
  head
    title="Knowsy"
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    if ENV == 'production'
        link(rel="stylesheet", href="/bundle.min.css")

  body
    #app!= content
    script(type="text/javascript") window.__INITIAL_STATE__ = !{state}
    if ENV == 'development'
        script(type="text/javascript", src="http://localhost:3030/dist/bundle.js")
    if ENV == 'production'
        script(type="text/javascript", src="/bundle.min.js")

