.carousel {
    @mixin carousel-button {
        font-family: $font-title-light;
        color: black;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    //padding-bottom: 60px;

    .video-list-item {
        // FIXME probably shouldn't be in the generic carousel CSS
        // width: 25%;
    }

    .flickity-prev-next-button {
        width: 130px;
        height: 60px;
        background: $highlight-color;
        font-size: 25px;
        cursor: pointer;
        border-radius: initial;

        &:hover {
            opacity: 0.9;
        }

        svg {
            top: 50%;
            transform: translateY(-50%);
            height: 35%;
        }

        &.previous svg {
            left: -25px;
        }

        &.next svg {
            left: 75px;
        }
    }

    .next:before {
        @include carousel-button;
        content: "NEXT";
        left: 20px;
    }

    .previous:before {
        @include carousel-button;
        content: "PREV";
        right: 20px;
    }
}
