.collapsible-nav {
    position: fixed;
    z-index: 997;
    height: 100%;
    left: 0;
    top: $header-height;
    background: white;
    border-right: 1px solid gray;
    @include flex-basis(20%);
    @include display(flex);
    @include flex-direction(column);

    .link {
        border-bottom: 1px solid lightgray;
        font-size: 0.9em;
        padding: 10px 7% 10px 7%;
        font-family: $font-title;
    }

    a {
        text-transform: uppercase;
        color: black;
        cursor: pointer;
    }


    .icon-cross {
        font-size: 20px;
    }

    .social-buttons  {
        @include flex-wrap(wrap);
        a {
            @include flex-basis(33.333%);
        }

        .icon {
            font-size: 40px;
        }
    }
}

@media(max-width: 1200px) { }

@media(max-width: 800px) {
    .collapsible-nav {
        position: fixed;
        top: $header-height;
        right: 0;
        width: 100%;
        height: initial;
        border-bottom: 1px solid gray;

        .social-buttons {
            @include flex-basis(initial);
            font-size: inherit;
        }
    }
}
