.content-description {
    $content-padding: 65px;
    padding: 40px 65px 40px 65px;
    @include display(flex);
    background: white;
    max-width: 1200px;
    margin: 0 auto;

    button {
        font-family: $font-title;
        border: 1px solid $border-color;
        background: white;
        padding: 10px;
        font-size: 12px;
        text-transform: uppercase;
        cursor: pointer;
        outline: none;

        &:hover {
            background: $highlight-color;
        }
    }

    p {
        margin-top: 10px;
        line-height: 20px;
    }

    h1 {
        font-size: 40px;
        font-family: $font-title-bold;
        margin: 20px 0 15px 0;
    }

    .content-title {
        @include flex-basis(40%);
        padding-right: $content-padding;

        p {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.8em;
        }
    }

    .content-actions {
        .icon-wrapper {
            color: $knowsy-dark;
            display: inline-block;
            text-transform: uppercase;

            &:hover {
                opacity: 0.8;
            }
        }

        h2 {
            font-size: 10px;
            font-family: $font-title;
            text-align: center;
        }

        .icon {
            width: 25px;
            margin: 20px 15px 5px 15px;
        }
    }

    .content-body {
        @include flex-basis(60%);
        @include flex-grow(1);
        p {
            margin: 20px 0 20px 0;
            line-height: 25px;
        }
    }

    .social-sidebar {
        position: initial;
        margin-top: 40px;
        display: none;

        .social-buttons {
            @include flex-direction(row);
        }
    }
}

@media(max-width: 900px) {
    .content-description {
        .content-actions {
            display: none;
        }

        .social-sidebar {
            display: block;
        }
    }
}

@media(max-width: 800px) {
    .content-description {
        @include flex-direction(column);

        .tags {
            display: none;
        }

        .content-title {
            @include flex-basis(initial);
            padding-right: 0px;
        }

        .content-body {
            @include flex-basis(initial);
        }
    }
}

@media(max-width: 600px) {
    .content-description {
        padding: 0 30px 30px 30px;

        .content-body {
            p {
                margin-top: 0;
            }
        }

        h1 {
            font-size: 24px;
        }

        button {
            padding: 18px;
            width: 100%;
        }
    }
}

@media(max-width: 500px) {
    .content-description {
        .social-sidebar {
            display: none;
        }
    }
}

