#errors {
    margin: 0 auto;
    max-width: 1400px;
    text-align: center;
    position: relative;
    padding: 30px;
    top: 40%;
    transform: translateY(-50%);

    h1 {
        font-family: $font-title;
    }
}
