.main-nav {
    position: fixed;
    z-index: 997;
    height: 100%;
    left: 0;
    top: $header-height;
    background: white;
    border-right: 1px solid gray;
    @include display(flex);
    @include flex-direction(column);

    .link {
        border-bottom: 1px solid lightgray;
        @include nav-link;
        padding: 20px 60px 20px 60px;
    }

    a {
        color: gray;
        cursor: pointer;
    }


    .icon-cross {
        font-size: 20px;
    }

    .social-buttons  {
        margin: 20px 10px 20px 10px;
        a {
            color: black;
            @include flex-basis(33.333%);
        }

        .icon {
            font-size: 40px;
        }
    }
}

@media(max-width: 1200px) { }

@media(max-width: 800px) {
    .main-nav {
        position: fixed;
        top: $header-height;
        right: 0;
        width: 100%;
        height: initial;
        border-bottom: 1px solid gray;

        .link {
            padding-left: 55px;
        }

        .social-buttons {
            @include flex-basis(initial);
            font-size: inherit;
        }
    }
}
