.main-nav {
    position: absolute;
    z-index: 997;
    height: 100vh;
    left: 0;
    top: 52px; /* somewhat arbitrary... ensure menu is just under header */
    background: white;
    border-right: 1px solid $border-color;
    border-left: 1px solid $border-color;
    @include display(flex);
    @include flex-direction(column);

    .link {
        @include nav-link;
        border-bottom: 1px solid $border-color;
        padding: 3px 0 0 65px;
        color: $knowsy-dark;
    }

    .icon-cross {
        font-size: 20px;
    }

    .social-buttons  {
        margin: 20px 10px 20px 10px;
        a {
            color: $knowsy-dark;
            @include flex-basis(33.333%);
        }

        .icon {
            font-size: 40px;
        }
    }
}

@media(max-width: 1400px) {
    .main-nav {
        left: -15px;
    }
}

@media(max-width: 800px) {
    .main-nav {
        position: fixed;
        top: $header-height;
        left: 0;
        right: 0;
        width: 100%;
        height: initial;
        border-bottom: 1px solid $border-color;

        .link {
            padding-left: 55px;
        }

        .social-buttons {
            @include flex-basis(initial);
            font-size: inherit;
        }
    }
}
