.nav-dropdown {
    h2 {
        color: black;
        font-size: 0.75em;
        &:hover {
            opacity: 0.8;
        }
    }

    .nav-dropdown-menu {
        @include display(flex);
        @include flex-wrap(wrap);
        box-sizing: border-box;
        text-align: left;
        max-width: 600px;
        padding: 15px;
        position: absolute;
        left: 248px;
        z-index: 999;
        background: white;
        margin-top: 5px;

        a {
            @include flex-basis(50%);
            @include nav-link;
            box-sizing: border-box;
            padding: 16px 20px 16px 20px;
            font-size: 12px;

            &:hover {
                background: rgb(242, 242, 242);
            }
        }
    }
}

@media (max-width: 1200px) {
    .nav-dropdown {
        .nav-dropdown-menu {
        }
    }
}

@media (max-width: 800px) {
    .nav-dropdown {
        .nav-dropdown-menu {
            @include flex-direction(column);
            right: 0;
        }
    }
}
