.nav-dropdown {
    .nav-dropdown-menu {
        text-align: left;
        display: flex;
        flex-direction: column;
        border: 1px solid lightgray;
        padding: 10px;
        position: absolute;
        z-index: 999;
        background: white;
        margin-top: 5px;

        a {
            text-transform: uppercase;
            padding: 6px 0 6px 0;
            font-size: 0.75vw;

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}

@media (max-width: 800px) {
    .nav-dropdown {
        .nav-dropdown-menu {
            right: 0;
        }
    }
}

