.nav-dropdown {
    h2 {
        font-size: 0.8em;
        &:hover {
            opacity: 0.8;
        }
    }

    .nav-dropdown-menu {
        text-align: left;
        @include display(flex);
        @include flex-direction(column);
        border: 1px solid lightgray;
        padding: 10px;
        position: absolute;
        z-index: 999;
        background: white;
        margin-top: 5px;

        a {
            text-transform: uppercase;
            padding: 6px 0 6px 0;
            font-size: 0.9em;

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}

@media (max-width: 1200px) {
    .nav-dropdown {
        .nav-dropdown-menu {
        }
    }
}

@media (max-width: 800px) {
    .nav-dropdown {
        .nav-dropdown-menu {
            right: 0;
        }
    }
}

@media (max-width: 500px) {
    .nav-dropdown {
        .nav-dropdown-menu {
            right: 0;
        }
    }
}
