.social-buttons {
    @include display(flex);
    @include flex-basis(200px);
    @include justify-content(space-around);

    .icon {
        font-size: 40px;
    }
}

.social-sidebar {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: white;
    z-index: 1;

    a {
        border: 1px solid black;
        border-bottom: none;
        padding: 10px;
        color: black;

        &:last-child {
            border-bottom: 1px solid black;
        }
    }

    .social-buttons {
        @include flex-direction(column);
    }
}

@media (max-width: 900px) {
    .social-sidebar {
        position: inherit;
        transform: none;

        .social-buttons {
            @include flex-direction(row);

            a {
                border: none;
            }
        }
    }
}
