.social-buttons {
    @include display(flex);
    @include justify-content(space-around);

    a {
        text-align: center;
        width: 40px;
    }

    .icon {
        font-size: 40px;
    }
}

.social-sidebar {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 1;

    a {
        margin-top: 10px;
        border-radius: 40px;
        border-bottom: none;
        padding: 5px;
        color: white;

        &.facebook {
            background: #395596;
        }

        &.twitter {
            background: #00A9EC;
        }

        &.pinterest  {
            background: #C5232A;
        }

        &.email {
            background: $knowsy-green;
        }
        // dots #43D6D9
    }

    .social-buttons {
        @include flex-direction(column);
    }
}

@media (max-width: 900px) {
    .social-sidebar {
        display: none; // for now
    }
}

@media (max-width: 500px) {
    .social-sidebar {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 6px 0;
        left: initial;
        top: inherit;
        bottom: 0;
        background: white;
        position: fixed;
        transform: none;
        -webkit-box-shadow: 0px 52px 20px 45px rgba(78, 78, 78, 0.81);
        -moz-box-shadow: 0px 52px 20px 45px rgba(78, 78, 78, 0.81);
        box-shadow: 0px 52px 20px 45px rgba(78, 78, 78, 0.81);

        .social-buttons {
            @include flex-direction(row);
        }

        a {
            margin: 0;
        }
    }
}
