@mixin video-list-item($width: 25%) {
    .video-list-item {
        @include display(flex);
        @include flex-direction(column);
        @include flex-basis($width);
        min-width: 0;
        border-left: 18px solid white;
        border-right: 18px solid white;
        border-bottom: 18px solid white;
        box-sizing: border-box;
        cursor: pointer;

        .video-list-item-thumb {
            img {
                max-width: 100%;

                &:hover {
                    transform: scale(1.01);
                    box-shadow: 1px 3px 14px gray;
                }
            }
        }

        .content-description {
            @include flex-grow(1);
            @include flex-direction(column);
            padding: 0;
        }

        h1 {
            font-size: 0.9em;
            margin-bottom: 0;
            margin-top: 8;
        }

        a {
            color: $font-color;
        }
    }
}

