@mixin video-list-item($width: 25%) {
    .video-list-item {
        @include display(flex);
        @include flex-direction(column);
        @include flex-basis($width);
        min-width: 0;
        border-left: 13px solid white;
        border-right: 13px solid white;
        border-bottom: 13px solid white;
        box-sizing: border-box;
        cursor: pointer;

        .video-list-item-thumb {
            position: relative;

            img {
                width: 100%;
            }

            .play-icon {
                color: black;
                position: absolute;
                bottom: 10px;
                left: 10px;
                width: 30px;
            }
        }

        .content-description {
            @include flex-grow(1);
            @include flex-direction(column);
            padding: 0;
        }

        h1 {
            font-family: $font-title-bold;
            font-size: 1.2em;
            margin-bottom: 0;
            margin-top: 8;
        }

        a {
            color: $font-color;
        }
    }
}

