.video-player {
    .playbar {
        background-color: rgb(255, 255, 255);
    }

    .preload, .duration, .volume-range {
        background-color: rgb(194, 194, 194);
    }
}

// override default flowplayer styles
.flowplayer {
    max-width: 1100px;

    .fp-progress {
        background-color: rgb(255, 255, 255);
    }

    .fp-buffer {
        background-color: rgb(194, 194, 194);
    }

    .fp-timeline {
        background-color: rgb(149,149,149) !important;
    }

    .fp-volumelevel {
        background-color: rgb(255,255,255);
    }

    .fp-volumeslider {
        background-color: rgb(149,149,149);
    }


}

.flowplayer.is-mouseout .fp-timeline{
    display: none;
    margin: 0 !important
}

.is-splash.flowplayer .fp-ui, .is-paused.flowplayer .fp-ui {
    background: url('/play_icon.png') center no-repeat !important;
    background-size: 11% !important;
}
