html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background: lightgray;
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
}

h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 5px 0 5px 0;
}

h2 {
    font-size: 12px;
    text-transform: uppercase;
    margin: 5px 0 5px 0;
}

h3 {
    margin: 0;
}

p {
    margin: 5px 0 5px 0;
}

a {
    text-decoration: none;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

header {
    display: flex;
    align-items: baseline;
    padding: 15px 20px 15px 20px;
    border-bottom: 1px solid lightgray;
    letter-spacing: 2px;

    a {
        color: black;
    }
}

header, footer {
    background: white;
}

footer {
    background: #323232;
    display: flex;
    padding-top: 20px;
    color: #494949;

    a {
        font-size: 12px;
    }
}

footer {
    &>div {
        margin-left: 6.25%;
        margin-right: 6.25%;
        flex-grow: 1;
    }
}

