html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background: lightgray;
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
}

h1 {
    font-size: 24px;
    text-transform: uppercase;
    margin: 5px 0 5px 0;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 5px 0 5px 0;
}

h3 {
    margin: 0;
}

p {
    margin: 5px 0 5px 0;
}

a {
    text-decoration: none;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

header {
    @include display(flex);
    @include align-items(baseline);
    padding: 15px 20px 15px 20px;
    border-bottom: 1px solid lightgray;
    letter-spacing: 2px;

    a {
        color: black;
    }

    i {
        font-size: 1.6vw;
    }
}

header, footer {
    background: white;
}

footer {
    background: #323232;
    @include display(flex);
    padding-top: 20px;
    color: #494949;

    a {
        font-size: 12px;
    }
}

footer {
    &>div {
        margin-left: 6.25%;
        margin-right: 6.25%;
        @include flex-grow(1);
    }
}

@media(max-width: 1200px) {
    h1 {
        //font-size: 1.8vw;
    }

    h2 {
        //font-size: 1.4vw;
    }
}

@media(max-width: 800px) {
    h1 {
        //font-size: 3vw;
    }

    h2 {
        //font-size: 1.6vw;
    }
}

@media(max-width: 500px) {
    h1 {
        //font-size: 3.2vw;
    }

    h2 {
        //font-size: 1.8vw;
    }
}
