@font-face {
    font-family: 'MarkLight';
    src: url('/fonts/Mark/Mark-Light/MarkLight.otf');
}

@font-face {
    font-family: 'MarkRegular';
    src: url('/fonts/Mark/Mark-Regular/MarkRegular.otf');
}

@font-face {
    font-family: 'MarkBold';
    src: url('/fonts/Mark/Mark-Bold/MarkBold.otf');
}

@font-face {
    font-family: 'MarkHeavy';
    src: url('/fonts/Mark/Mark-Heavy/MarkHeavy.otf');
}

@font-face {
    font-family: 'CenturySchoolbook';
    src: url('/fonts/century-schoolbook.otf');
}

@font-face {
    font-family: 'icomoon';
    src:    url('/fonts/icomoon.eot?dso8sq');
    src:    url('/fonts/icomoon.eot?dso8sq#iefix') format('embedded-opentype'),
            url('/fonts/icomoon.ttf?dso8sq') format('truetype'),
            url('/fonts/icomoon.woff?dso8sq') format('woff'),
            url('/fonts/icomoon.svg?dso8sq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-hamburger:before {
    content: "\e904";
}
.icon-facebook:before {
    content: "\e900";
}
.icon-google:before {
    content: "\e901";
}
.icon-instagram_round:before {
    content: "\e902";
}
.icon-instagram_square:before {
    content: "\e903";
}
.icon-mail:before {
    content: "\e905";
}
.icon-pinterest:before {
    content: "\e906";
}
.icon-twitter:before {
    content: "\e907";
}
.icon-youtube:before {
    content: "\e908";
}
.icon-cross:before {
    content: "\e909";
}

