// TODO get rid of layout stylesheets? I don't think I need these... everything is a module/component
.l-container {
    @include display(flex);
    @include flex-direction(column);
    min-height: 100vh;
}

.l-main {
    @include flex(1);
    background: white;
}

.l-header-container {
    @include display(flex);

    .l-header-main {
        min-width: 0;
        @include display(flex);
        @include flex-direction(column);
        @include flex-grow(1);
    }
}

