@import 'modules/nav-dropdown';
@import 'modules/main-nav';
@import 'modules/video-list-item';
@import 'modules/content-description';
@import 'modules/tags';
@import 'modules/social-buttons';
@import 'modules/errors';
@import 'modules/carousel';
@import 'modules/recipe';
@import 'modules/video-player';

.nav {
    @include display(flex);
    @include justify-content(flex-end);
    @include flex-grow(1);
}

.footer-nav {
    .nav-links {
        @include display(flex);
        @include justify-content(space-between);
        @include flex-wrap(wrap);

        a {
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

@media(max-width: 500px) {
    .footer-nav {
        .nav-links {

        }
    }
}

.carousel {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.video-header {
    margin-top: $header-height;
    background: white;
    position: relative;

    h1 {
        text-align: center;
        padding: 60px 30px;
        font-size: 35px;
        text-transform: uppercase;
    }

    .video-main {
        max-width: 1200px;
        margin: 0 auto;
        cursor: pointer;

        .video-image {
            min-width: 0;
            position: relative;

            .video-description {
                display: none;
                max-width: 55%;
                position: absolute;
                bottom: 30px;
                left: 60px;
                color: white;
                text-shadow: 2px 2px gray;
            }
        }
    }
}

@media (max-width: 1200px) {
    .video-header {
        .video-main {
            max-width: 100%;
        }
    }
}

@media (max-width: 900px) {
    .video-header {
        padding-bottom: 0;
    }
}


.video-list-title {
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;

    h1 {
        margin: 0 20px 0 20px;
        font-size: 25px;
        text-transform: uppercase;
        font-family: $font-title-light;

        em {
            font-size: 0.9em;
        }
    }
}

@media(max-width: 600px) {
    .video-list-title {
        margin-top: 25px;
        margin-bottom: 25px;
        h1 {
            font-size: 17px;
        }
    }
}

.video-list {
    @include display(flex);
    @include flex-direction(column);
    padding-bottom: 20px;
    background: white;
    max-width: 95%;
    margin: 0 auto;

    .video-list-items {
        @include display(flex);
        @include justify-content(center);
        @include flex-wrap(wrap);
        max-width: 1600px;
        margin: 0 auto;

        // fill in empty/missing items to left-align last row
        // http://stackoverflow.com/questions/18744164/flex-box-align-last-row-to-grid
        &:after {
            content: "";
            @include flex(auto);
        }
    }

    .video-list-footer {
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }
}

///////////////
// HOME PAGE
///////////////
.home-page {
    margin-top: 40px;

    .video-list {
        .video-list-items {
            max-width: 100%;
            @include video-list-item;

            .video-list-item-primary {
                min-width: 0;
                @include flex-basis(55%);
                @include display(flex);
                @include video-list-item(100%);

                .content-description h1 {
                    font-family: $font-title-heavy;
                    font-size: 1.5em;
                    margin-top: 18px;
                }
            }

            &:nth-child(2) {
                .video-list-item-primary {
                    @include order(1);
                }
            }

            .video-list-item-secondary {
                min-width: 0;
                @include flex-basis(45%);
                @include display(flex);
                @include flex-wrap(wrap);
                @include video-list-item(50%);
            }

            .video-list-item-primary.alternate {
                @include flex-basis(54%);
            }

            .video-list-item-secondary.alternate {
                @include flex-basis(23%);

                .video-list-item {
                    @include flex-basis(100%);
                }
            }
        }
    }
}

@media(max-width: 1200px) {
    .home-page {
        .video-list {
            .video-list-items {
                max-width: 85%;

                .video-list-item-primary {
                    @include flex-basis(100%);
                    @include video-list-item(100%);
                }

                .video-list-item-secondary {
                    @include flex-basis(100%);
                    @include video-list-item(50%);
                }
            }

            &:last-child {
                @include video-list-item(50%);
            }
        }
    }
}

@media(max-width: 1000px) {
    .home-page {
        .overlay h1 {
            font-size: 42px !important;
            line-height: initial !important;
        }

        .overlay .play-icon {
            width: 40px !important;
            margin-top: 10px !important;
        }
    }
}

@media(max-width: 800px) {
    .home-page {
        .video-list {
            .video-list-items {
                max-width: 100%;
            }
        }

        .overlay {
            transform: translateY(-30%) !important;

            h1 {
                font-size: 24px !important;
                line-height: initial !important;
            }

            .play-icon {
                width: 40px !important;
            }

            p {
                font-size: 14px !important;
                line-height: 17px !important;
            }
        }
    }
}

@media(max-width: 600px) {
    .home-page {

        .overlay {
            width: 100% !important;
            left: 0 !important;
            padding: 0 28px;
        }
    }
}

@media(max-width: 500px) {
    .home-page {
        .video-list {
            .video-list-items {
                .video-list-item-secondary {
                    @include video-list-item(100%);
                }

                &:last-child {
                    @include video-list-item(100%);
                }
            }
        }

        .content-description p {
            display: none;
        }
    }
}

.home-page.home-page-main {
    @include video-list-item(100%);
    .video-list-item {
        margin: 0 auto;
        border: none;
    }
}

///////////////
// CATEGORY PAGE
///////////////
.category-page {
    @include video-list-item(100%);
    margin-top: 40px;

    .video-list-item {
        margin: 0 auto;
        border: none;
    }
}

///////////////
// VIDEO PAGE
///////////////
.video-page {
    .video-main {
        padding: 0 65px 0 65px;
    }

    .video-list {
        border-top: 1px solid gray;
    }
}

@media (max-width: 900px) {
    .video-page {
        .video-main {
            padding: 0;
        }
    }
}

///////////////
// ABOUT PAGE
///////////////
.about-page {

    section {
    }

    h1 {
        font-size: 38px;
        font-family: $font-title-bold;

    }

    .about-body {
        width: 78%;
        margin: 0 auto;
        border-bottom: 1px solid black;
        padding: 45px 80px 45px 80px;

        &:last-child {
            border-bottom: none;
        }

        @include display(flex);

        div:first-child {
            @include flex-basis(40%);
        }

        div:last-child {
            @include flex-basis(60%);
        }
    }
}

.page-header {
    margin-top: $header-height;
}

///////////////////////
// DEFAULT VIDEO LIST
///////////////////////
.default-video-list {
    @include video-list-item;
    .video-list-items {
        max-width: 100%;
    }
    .video-list-item {
        @include flex-grow(0);
    }
}

@media(max-width: 1200px) {
    .default-video-list {
        .video-list {
            .video-list-items {
                .video-list-item {
                    @include flex-basis(33.333333%);
                }
            }
        }
    }
}

@media(max-width: 800px) {
    .default-video-list {
        .video-list {
            .video-list-items {
                .video-list-item {
                    @include flex-basis(50%);
                }
            }
        }
    }
}

@media(max-width: 500px) {
    .default-video-list {
        .video-list {
            .video-list-items {
                .video-list-item {
                    @include flex-basis(100%);
                }
            }
        }
    }
}

// COMPONENTS
.header-main {
    height: $header-height;
    box-sizing: border-box;
    .nav-dropdown {
        @include align-self(flex-end);
    }

    .icon.icon-hamburger {
        color: black;
        font-size: 23px;
    }

    h1 {
        margin-right: 20px;
    }

    h1:nth-child(2) {
        margin-right: 25px;
    }

    .header-link-right {
        margin-left: 60px;
    }
}

@media(max-width: 800px) {
    .nav {
        .social-buttons {
            display: none;
        }
    }

    .header-main {
        .icon.icon-hamburger {
            font-size: 22px;
        }

        .header-link-right {
            @include flex-basis(100%);
            @include flex-grow(1);
            text-align: right;
            margin-left: inherit;
        }
    }
}

.footer-main {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(baseline);
    @include flex-wrap(wrap);
    padding: 20px 0px 0 0px;
    color: $font-color-light;
    max-width: 95%;
    margin: 0 auto;

    h1 {
        text-transform: uppercase;
        margin-top: 0;
    }

    a {
        font-size: 12px;
        font-family: $font-title;
    }

    &>div {
        margin-bottom: 20px;
    }

    p {
        margin: 2px 0 0 0;
        font-size: 0.6em;
        color: rgb(110, 113, 113);
        line-height: 12px;
    }

    address {
        margin-top: 10px;
    }

    .legal {
        font-family: $font-title-light;
        size: 8px;
        @include flex-basis(20%);
        img {
            margin-bottom: 6px;
        }
    }

    .newsletter {
        @include flex-grow(2);
        @include flex-basis(40%);

        input {
            box-sizing: border-box;
            padding: 15px;
            display: inline-block;
            border: 1px solid $border-color;
            border-right: none;
            font-size: 12px;
            width: 60%;

            &:focus {
                outline: none;
            }
        }

        button {
            cursor: pointer;
            background: #E1E1E1;
            padding: 15px 25px;
            border: 1px solid $border-color;
            outline: none;
            font-size: 12px;
            font-weight: bold;

            &:hover {
                background: lightgray;
            }
        }
    }

    .footer-nav {
        @include flex-basis(4%);
        @include flex-grow(1);
    }
}

@media(max-width: 1200px) {
    .footer-main {
//        @include flex-direction(column-reverse);
//
//        .footer-nav .nav-links {
//            @include flex-direction(row);
//        }
//
//        .legal, .newsletter, .footer-nav {
//            @include flex-basis(inherit);
//        }
//
//        &>div {
//            width: 100%;
//        }
    }
}

@media(max-width: 500px) {
    .footer-main {
        .newsletter {
            order: 1
        }

        .nav-links {
            flex-direction: column !important;
            text-align: center !important;

            &>div {
                margin: 15px 0;
            }
        }
    }
}

