.nav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;

}

.footer-right {
    .nav-links {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        a {
            text-decoration: none;
            color: white;
            text-transform: uppercase;
        }
    }
}

.social-buttons {
    display: flex;
    flex-basis: 200px;
    justify-content: space-around;
}

.video {
    background: lightgray;
    padding: 0 3.5% 0 3.5%;
    color: white;
    height: 100%;
    display: flex;
}

$video-list-item-width: 400;
$video-list-items-width-xlarge: 4 * $video-list-item-width;
$video-list-items-width-large: 3 * $video-list-item-width;
$video-list-items-width-medium: 2 * $video-list-item-width;
$video-list-items-width-small: $video-list-item-width;

.video-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;

    .video-list-title {
        display: flex;
        align-self: center;
        align-items: baseline;
        margin-top: 20px;
        margin-bottom: 5px;

        h1 {
            font-size: 1.2em;
        }

        i {
            font-size: 0.9em;
        }
    }

    .video-list-items {
        display: flex;
        max-width: $video-list-items-width-xlarge;
        margin: 0 auto;
        justify-content: center;
        flex-wrap: wrap;

        // fill in empty/missing items to left-align last row
        // http://stackoverflow.com/questions/18744164/flex-box-align-last-row-to-grid
        &:after {
            content: "";
            flex: auto;
        }

        .video-list-item {
            display: flex;
            flex-direction: column;
            height: 300px;
            width: $video-list-item-width;
            background: lightgray;
            border: 6px solid white;
            box-sizing: border-box;

            .video-list-item-thumb {
                height: 100%;
                border-bottom: none;
            }

            div {
                border: 1px solid black;
                flex-grow: 1;
            }

            .video-list-item-description {
                background: white !important;
                padding: 10px 20px 10px 20px;

                p {
                    // for now...
                    display: none;
                    font-size: 0.85em;
                    line-height: 1.5em;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

    }

    .video-list-footer {
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }
}

@media(max-width: $video-list-items-width-xlarge + px) {
    .video-list {
        .video-list-items {
            max-width: $video-list-items-width-large;
        }
    }
}

@media(max-width: $video-list-items-width-large  + px) {
    .video-list {
        .video-list-items {
            max-width: $video-list-items-width-medium;
        }
    }
}

@media(max-width: $video-list-items-width-medium + px) {
    .video-list {
        .video-list-items {
            max-width: $video-list-items-width-small;
        }
    }
}

@media(max-width: $video-list-items-width-small + px) {
    .video-list {
        .video-list-items {
            max-width: 90vw;

            .video-list-item {
                width: 90vw;
            }
        }
    }
}

// COMPONENTS
.tags {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9em;

    .tag {
        padding: 10px;
        margin-right: 5px;
        margin-bottom: 5px;
        text-transform: uppercase;
        border: 1px solid black;
        cursor: pointer;

        &:hover {
            background: black;
            color: white;
        }
    }
}

.header-topbar {
    .page-title {
        margin: 0 10px 0 10px;
        text-transform: uppercase;
    }

    .fa-bars {
        margin: 0 10px 0 10px;
        font-size: 1.5em;
    }
}

@media(max-width: 700px) {
    .header-topbar {
        h1, .fa-bars {
            font-size: 1em;
        }

        .page-title {
            flex-basis: 100%;
            flex-grow: 1;
            text-align: right;
            font-size: 0.8em;
        }

        .social-buttons {
            display: none;
        }
    }
}

.collapsible-nav {
    flex-basis: 20%;
    background: white;
    border-right: 1px solid gray;
    display: flex;
    flex-direction: column;

    header {
        height: 72px; // FIXME
        padding-top: 0px;
        padding-bottom: 0px;
        display: flex;
        align-items: center;
    }

    div {
        padding: 10px 7% 10px 7%;
    }

    .link {
        border-bottom: 1px solid gray;
    }

    a {
        text-transform: uppercase;
        color: black;
        cursor: pointer;
    }
}

.footer-main {
    padding-bottom: 30px;

    h1 {
        margin-top: 0;
    }

    a {
        font-size: 0.8em;
    }

    p {
        margin: 2px 0 0 0;
        font-size: 0.8em;
        color: rgb(110, 113, 113);
    }

    address {
        margin-top: 10px;
    }
}

@media(max-width: 700px) {
    .footer-main .footer-right .nav-links {
        flex-direction: column;
    }
}
